<div class="container-login">
  <div class="container-left">
    <form
      class="container-form"
      [formGroup]="formgroup()"
      (ngSubmit)="formSubmit()"
    >
      <h1 class="h1">{{ labelh2() | translate }}</h1>
      @if(!isLogin()){
      <div class="container-label-button">
        <label for="login">{{ "Nom d'utilisateur" | translate }}</label>
        <input
          class="input"
          id="login"
          required="true"
          type="text"
          pInputText
          placeholder="Nom d'utilisateur"
          formControlName="login"
          autocomplete="false"
        />
      </div>
      }
      <div class="container-label-button">
        <label for="email">{{ "Adresse Mail" | translate }}</label>
        <input
          type="text"
          placehold
          id="email"
          placeholder="example@gmail.com"
          pInputText
          formControlName="email"
        />
      </div>

      <div class="container-label-button">
        <label for="password">{{ "Mot de passe" | translate }}</label>
        <p-password
          label="Password"
          id="password"
          required="true"
          [toggleMask]="true"
          class="input"
          formControlName="password"
          [feedback]="false"
        />
      </div>

      @if(!isLogin()){
      <div class="container-label-button">
        <label for="confirm">{{
          "Confirmez le mot de passe" | translate
        }}</label>
        <p-password
          id="confirm"
          required="true"
          [toggleMask]="true"
          class="input"
          formControlName="confirm"
          [feedback]="false"
        />
      </div>
      }
      <p-button
        class="input button"
        [label]="labelButton() | translate"
        [disabled]="!formgroup().valid"
        type="submit"
      />
    </form>
    <div class="separator"></div>
    <div class="providers">
      <button (click)="loginGoogle()">
        <img src="assets/images/google.png" alt="logo google" />
        <p>
          {{ labelButton() === "Connexion" ? "Se Connecter" : "S'enregistrer" }}
          avec Google
        </p>
      </button>
      <button (click)="loginGithub()">
        <img src="assets/images/github.png" alt="logo google" />
        <p>
          {{ labelButton() === "Connexion" ? "Se Connecter" : "S'enregistrer" }}
          avec Github
        </p>
      </button>
    </div>
    <div class="no-account">
      <p>{{ noAccountLabel() | translate }}</p>
      <p-button
        [routerLink]="isLogin() ? ['/auth', 'register'] : ['/auth', 'login']"
        class="button"
        [label]="labelButton2() | translate"
      />
    </div>
  </div>
</div>
