.stat-block {
  padding: var(--padding);
  gap: var(--padding);
  display: flex;
}

.stat-values {
  width: 100%;
  overflow: auto;
  background-color: var(--background-color);
  font-family: monospace;
  white-space: pre-wrap;
  color: var(--font-color);
}

.stat-placeholder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: #888;
  gap: 10px;

  i {
    font-size: 2rem;
  }
}
.stat-block-readonly {
  padding: 1.5rem;
  background-color: var(--background-color);
  border-radius: 0 0 8px 8px;
  border: 1px solid var(--neutral-color-transparent);
  
  .block-title {
    font-size: 1.25rem;
    color: var(--primary-color);
    margin-bottom: 1rem;
    font-weight: 600;
  }
  
  .stat-rules, .stat-values {
    margin-bottom: 1.5rem;
    
    h4 {
      font-size: 1.1rem;
      color: var(--font-color);
      margin-bottom: 0.5rem;
      font-weight: 600;
      border-bottom: 1px solid var(--neutral-color-transparent);
      padding-bottom: 0.5rem;
    }
    
    p {
      padding: 0.5rem;
      background-color: var(--background-color-lighter);
      border-radius: 6px;
      font-family: monospace;
      white-space: pre-wrap;
    }
  }
}