header {
  display: flex;
  border-bottom: 1px solid var(--text-color);
  .title {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: center;
    // gap: 25px;

    img {
      object-fit: contain;
      // margin: 15px;
      width: 5rem;
      height: 5rem;
    }
  }

  .container-liste {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-right: 25px;

    i {
      font-size: 1.5rem;
    }
    span {
      font-size: 2rem;
      cursor: pointer;
    }
  }

  ::ng-deep {
    .p-button {
      width: 183px;
      height: 37px;
      font-size: 0.9rem !important;
      // border: 1px solid transparent;
    }
  }

  .container-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-right: 10px;
  }

  .container-button,
  .container-liste {
    flex: 2;
  }

  .recherche {
    display: flex;
    flex: 7;
    padding-right: 10px;
    padding-left: 10px;
    align-items: center;

    ::ng-deep {
      .p-button {
        width: 50px;
        height: 40px;
        padding: 2px !important;
        background-color: transparent !important;
        color: var(--text-color);
      }
      .p-inputtext,
      .p-inputgroupaddon {
        height: 40px;
      }

      .p-inputgroup {
        width: 90%;
        max-width: 500px;
      }
    }
  }
}
