@use "../../../../assets/sass/core/mixins" as *;

:host{
  user-select: none;
  display: block;
  width: 100%;
}

.icone-grab {
  @include flex-responsive(column, nowrap, 25px);
  @include spacing-responsive(padding, 25px 10px);
  
  & {
    border-radius: var(--radius-small);
    justify-content: flex-start;
    width: 100%;
  }
  
  @include respond-to('mobile') {
    height: auto;
    max-height: 15rem;
    overflow-y: auto;
    gap: var(--gap-mobile);
    padding: var(--padding-mobile);
  }
  
  @include respond-to('xs') {
    gap: calc(var(--gap-mobile) * 0.7);
    padding: var(--padding-small);
  }
}

.icon-item {
  @include flex-responsive(row, nowrap, var(--gap));
  align-items: center;
  @include spacing-responsive(padding, var(--padding-small));
  background-color: var(--primary-color-transparent-50);
  color: var(--font-color);
  font-weight: 600;
  border-radius: var(--radius-small);
  cursor: grab;
  transition: all 0.2s;
  
  @include respond-to('mobile') {
    gap: var(--gap-mobile);
    padding: var(--padding-mobile);
  }

  &:hover {
    background-color: var(--primary-color);
    transform: scale(1.02);
    color: var(--font-color-invert);
  }

  &:active {
    cursor: grabbing;
  }

  i {
    @include font-responsive(var(--font-size-xl));
    
    @include respond-to('mobile') {
      font-size: var(--font-size-lg);
    }
  }
}

.icon-drag-preview {
  position: fixed;
  z-index: 9999;
  pointer-events: none;
  @include flex-responsive(column, nowrap);
  align-items: center;
  justify-content: center;
  background-color: white;
  @include spacing-responsive(padding, 15px);
  border-radius: var(--radius-small);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.25);
  transform: translate(-50%, -50%);

  i {
    @include font-responsive(var(--font-size-2xl));
    margin-bottom: 5px;
    color: var(--neutral-color);
  }

  span {
    @include font-responsive(var(--font-size-xs));
    font-weight: 500;
    color: var(--neutral-color);
  }

}
