<div class="block-container" cdkDrag [cdkDragData]="block()">
  <div class="block-header">
    <div class="block-controls-left">
      <i class="pi pi-bars" cdkDragHandle aria-hidden="true"></i>
    </div>
    <div class="texte">
      <i [class]="getIconByType(block().type)" aria-hidden="true"></i>
      <span>{{ getBlockPreview(block().type) }}</span>
    </div>
    <div class="block-controls">
      @if(block().id){
      <p-button
        icon="pi pi-sparkles"
        pTooltip="Générer avec l'IA"
        tooltipPosition="top"
        (click)="onGenerateAI(block().id!, block().type)"
        [disabled]="block().type === enum().module"
        [rounded]="true"
        [text]="true"
        severity="help"
      />
      <p-button
        icon="pi pi-times"
        (click)="onRemoveBlock(block().id!)"
        pTooltip="Supprimer"
        tooltipPosition="top"
        [rounded]="true"
        [text]="true"
        severity="danger"
      />
      }
    </div>
  </div>

  <ng-content></ng-content>

  <div *cdkDragPreview class="block-preview">
    <div class="block-preview-content">
      {{ getBlockPreview(block().type) }}
    </div>
  </div>

  <div *cdkDragPlaceholder class="block-placeholder"></div>
</div>
