/*
Fichier contenant les propiétés à appliquer peu importe l'apparence héritée par un thème
*/
@use "./mixins";

* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

body {
   min-height: 100vh;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   text-rendering: optimizeLegibility;
}

// FIXME: Est-ce que cela a sa place dans le reset ?
input.x:not([type="checkbox"], [type="color"], [type="file"]) {
   // Enlever le outline par défaut du navigateur quand le focus est actif
   &:focus {
      @include mixins.outline();
   }
}

// Permet de fixer le bug d'apparence des checkboxs sur firefox
input.x[type="checkbox"] {
   appearance: initial;
   -moz-appearance: initial; // Hack for Firefox Browsers
}
