@if(loadingBlock()){
<div class="container-skeleton">
  <p-skeleton height="12rem" />
  <p-skeleton height="12rem" />
  <p-skeleton height="12rem" />
  <p-skeleton height="12rem" />
</div>
} @else {
  <div
  #blocksContainer
  class="blocks-container"
  cdkDropList
  [cdkDropListData]="blocks()"
  (cdkDropListDropped)="onDrop($event)"
  cdkDropListOrientation="vertical"
  [class.highlight-drop-zone]="isDraggingIcon()"
  (input)="onContentChange($event)"
>
  <!-- Les blocs existants -->
  @for(block of blocks(); track block?.id; let i = $index) {
  @if(isDraggingIcon() && isOverDropZone() && insertPosition() === i) {
  <div class="block-placeholder">
    <div class="placeholder-content">
      {{ getBlockPreview(draggedIconType() || EBlockType.paragraph) }}
    </div>
  </div>
  }
  <app-block-item
    [attr.data-block-id]="block.id"
    [isReadOnly]="isReadOnly()"
    [block]="block"
    [enum]="EBlockType"
    (removeBlock)="onRemoveBlock($event)"
    (generateAIContent)="onGenerateAI($event)"
  >
    @if(isParagraphBlock(block)) {
    <app-paragraph-block
      [paragraphBlock]="asParagraphBlock(block)"
      [isReadOnly]="isReadOnly()"
      (cursorPositionChanged)="onBlockCursorPosition($event)"
    ></app-paragraph-block>
    } @else if(isMusicBlock(block)) {
    <app-music-block
      [musicBlock]="asMusicBlock(block)"
      [isReadOnly]="isReadOnly()"
    ></app-music-block>
    } @else if(isStatBlock(block)) {
    <app-stat-block
      [statBlock]="asStatBlock(block)"
      [isReadOnly]="isReadOnly()"
    ></app-stat-block>
    } @else if(isModuleBlock(block)) {
    <div class="module-block"></div>
    }
  </app-block-item>
  } @if(isDraggingIcon() && isOverDropZone() && insertPosition() ===
  blocks().length) {
  <div class="block-placeholder">
    <div class="placeholder-content">
      {{ getBlockPreview(draggedIconType() || EBlockType.paragraph) }}
    </div>
  </div>
  }
</div>
}
