<div class="container-folder">
  <div class="folders">
    <p-contextMenu #cm [model]="contextMenuItems"></p-contextMenu>
    <p-tree
  #treeElement
  [value]="treeNode()"
  selectionMode="single"
  [(selection)]="selectedFolder"
  (onNodeSelect)="onNodeSelect($event)"
  (onNodeContextMenuSelect)="onNodeRightClick($event)"
  (onNodeDrop)="onNodeDrop($event)"
  [contextMenu]="cm"
  [draggableNodes]="true"
  [droppableNodes]="true"
  draggableScope="folders"
  droppableScope="folders"
>
</p-tree>
    <p-button
      label="Nouveau dossier"
      icon="pi pi-folder-plus"
      (onClick)="showNewFolderDialog(null)"
    ></p-button>
  </div>
  <div class="modules-container">
    <div class="header-project">
      <div class="searchbar">
        <p-iconfield>
          <p-inputicon styleClass="pi pi-search" />
          <input type="text" pInputText placeholder="Search" [(ngModel)]="searchValue" />
        </p-iconfield>
        <p-button
          icon="pi pi-plus"
          label="Nouveau module"
          (onClick)="resetModule()"
          routerLink="/new-module"
        ></p-button>
      </div>
      <div class="filtres"></div>
    </div>
    <div class="modules-list">
      @if (selectedFolder()) {
        @for (module of displayedModules(); track module.savedModuleId) {
          <div
            class="module-item"
            [draggable]="true"
            (dragstart)="onModuleDragStart(module)"
            (dragend)="onModuleDragEnd()"
          >
            <app-module-viewer [moduleId]="module.moduleId" />
          </div>
        }
      } @else {
        @for (module of moduleWithoutFolder(); track module) {
          <div
            class="module-item"
            [draggable]="true"
            (dragstart)="onModuleDragStart(module)"
            (dragend)="onModuleDragEnd()"
          >
            <app-module-viewer [moduleId]="module.moduleId" />
          </div>
        }
      }
    </div>
  </div>
</div>

<p-dialog
  [header]="dialogTitle"
  [modal]="true"
  [(visible)]="dialogVisible"
  [style]="{ width: '25rem' }"
>
  <div class="container-dialog">
    <div class="container-label">
      <label for="username">Nom du dossier</label>
      <input id="username" pInputText [(ngModel)]="folderName" />
    </div>
    <div class="container-button">
      <p-button
        label="Annuler"
        severity="secondary"
        (click)="dialogVisible = false"
      ></p-button>
      <p-button label="Confirmer" (click)="handleDialogAction()"></p-button>
    </div>
  </div>
</p-dialog>