:host{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // gap: 20px;
  height: 100%;
  width: 100%;
}

.header-project{
  height: 100%;
  width: 100%;
  display: flex;
  max-height: 50px;
  gap: var(--padding);
  margin: calc(var(--padding));
  margin-top: 20px;

  .searchbar{
    display: flex;
    align-items: center;
    gap: calc(var(--padding) / 2);
    width: auto;
    flex-shrink: 0;
  }
  .filtres{
    flex: 1;
  }
}
.modules-container{
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 1rem;
}
.container-folder{
  height: 100%;
  width: 100%;
  display: flex;
  flex: 1;
  overflow: auto;
  gap: 1rem;
  .modules-list{
    overflow: auto;
    max-height: 80%;
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: var(--padding);
    align-items: start;
    justify-content: flex-start;
    padding: var(--padding);
  }

  .folders{
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-right: 1px solid var(--neutral-color);
  box-shadow: 5px 0 5px -5px var(--neutral-color);
  background-color: var(--background-color-lighter);

    ::ng-deep .p-button {
      width: 100%;
    }
  }
}

.container-button {
  display: flex;
  gap: 10px;
}

.container-dialog {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
::ng-deep .p-tree-node-toggle-button{
  visibility: visible;
}
::ng-deep .p-tree-node-icon {
  margin-right: 3px;
}
.container-label{
  display: flex;
  flex-direction: column;
}
