<div class="container-folder">
  <div class="folders">
    <p-contextMenu #cm [model]="contextMenuItems"></p-contextMenu>
    <p-tree
      #treeElement
      [value]="treeNode()"
      selectionMode="single"
      [(selection)]="selectedFolder"
      (onNodeSelect)="onNodeSelect($event)"
      (onNodeContextMenuSelect)="onNodeRightClick($event)"
      [contextMenu]="cm"
      [draggableNodes]="true" [droppableNodes]="true" draggableScope="self" droppableScope="self"
    />
    <p-button
      label="Nouveau dossier"
      icon="pi pi-folder-plus"
      (onClick)="showNewFolderDialog(null)"
    />
  </div>
  <div class="modules-container">
    <div class="header-project">
      <div class="searchbar">
        <p-iconfield>
          <p-inputicon styleClass="pi pi-search" />
          <input type="text" pInputText placeholder="Search" />
        </p-iconfield>
        <p-button icon="pi pi-plus" label="Nouveau module" (onClick)="resetModule()" routerLink="/new-project" />
      </div>
      <div class="filtres"></div>
    </div>
    <div class="modules-list">
      @for(module of displayedModules(); track module){
        <app-module-viewer [moduleId]="module.moduleId" />
        }
        <!-- <h2> Aucun Dossier Lié </h2>
        @for(module of moduleWithoutFolder(); track module){
          <app-module-viewer [moduleId]="module.moduleId" />
        } -->
    </div>
  </div>
</div>

<p-dialog
  [header]="dialogTitle"
  [modal]="true"
  [(visible)]="dialogVisible"
  [style]="{ width: '25rem' }"
>
  <div class="container-dialog">
    <div class="container-label">
      <label for="username">Nom du dossier</label>
      <input id="username" pInputText [(ngModel)]="folderName" />
    </div>
    <div class="container-button">
      <p-button
        label="Annuler"
        severity="secondary"
        (click)="dialogVisible = false"
      />
      <p-button label="Confirmer" (click)="handleDialogAction()" />
    </div>
  </div>
</p-dialog>
