@use "sass:color";
@use "../core" as *;
@use "../components" as *;

html[data-theme="dark"] {
   $color-sheme: dark;
   $primary-color: hsl(205, 100%, 50%);
   $primary-color-transparent-50: hsla(205, 100%, 50%, 0.1);

   $background-color: hsl(221, 39%, 11%);
   $background-color-lighter: hsl(221, 40%, 16%);
   $background-color-lighter-lighter: hsl(221, 40%, 24%);
   $background-color-transparent: hsla(221, 39%, 11%, 0.233);
   $container-color: color.mix(white, $background-color, 10%);
   $input-color: color.mix(white, $container-color, 30%);

   $danger-color: hsl(5, 100%, 58%);
   $success-color: hsl(103, 100%, 33%);
   $warn-color: hsl(36, 100%, 50%);
   $info-color: hsl(231, 48%, 48%);
   $neutral-color: hsl(200, 18%, 46%);
   $disabled-color: hsla(0, 0%, 100%, 0.12);

   $font-color: white;
   $font-color-invert: hsl(250, 24%, 15%);
   $font-disabled-color: hsla(0, 0%, 100%, 0.4);
   $placeholder-color: hsl(0, 0%, 70%);

   @include export-vars();
}
