@if(isReadOnly()) {
<div class="text-block-readonly">
  <h3 class="block-title">{{ paragraphBlock().title }}</h3>
  <div class="block-content" [innerHTML]="getSanitizedContent()"></div>
  @if(paragraphBlock().style) {
  <div class="block-style">{{ paragraphBlock().style }}</div>
  }
</div>
} @else {
  <div class="text-block">
    <div class="basic-block">
      <div class="container-label">
        <label for="title"> {{ "Titre" | translate }} </label>
        <input
          type="text"
          #titleInput
          [(ngModel)]="paragraphBlock().title"
          pInputText
          placeholder="La folle aventure..."
        />
      </div>
      <div class="container-label">
        <label for="style">Style</label>
        <p-select
          id="style"
          [(ngModel)]="paragraphBlock().style"
          [options]="options"
          optionValue="value"
          optionLabel="label"
        />
      </div>
    </div>
    <div class="container-label">
      <label for="paragraph"> {{ "Pararagraphe" | translate }} </label>
      <p-editor
        #paragraphEditor
        id="paragraph"
        [(ngModel)]="paragraphBlock().paragraph"
        (onTextChange)="onTextChange($event)"
        [style]="{'height':'300px'}"
        [formats]="editorFormats"
      ></p-editor>
    </div>
  </div>
}
