.text-block {
  padding: 15px;
  min-height: 120px !important;
  height: calc(100% - 50px);
  display: flex;
  flex-direction: column;
  gap: var(--padding);

  textarea {
    width: 100%;
    min-height: 120px !important;
    height: 100%;
    resize: vertical;
  }
  .container-label {
    // padding: 15px;
    display: flex;
    flex-direction: column;
  }
  .basic-block {
    display: flex;
    gap: calc(var(--padding) / 2);
  }
}

::ng-deep .ql-editor {
  min-height: 200px;
}
.text-block-readonly {
  padding: 1.5rem;
  background-color: var(--background-color-lighter);
  border-radius: 0 0 8px 8px;
  border: 1px solid var(--neutral-color-transparent);
  
  .block-title {
    font-size: 1.25rem;
    color: var(--primary-color);
    margin-bottom: 1rem;
    font-weight: 600;
  }
  
  .block-content {
    font-size: 1.1rem;
    line-height: 1.8;
    margin-bottom: 1.5rem;
    
    p {
      margin-bottom: 1rem;
    }
  }
  
  .block-style {
    font-style: italic;
    color: var(--font-color-secondary);
    text-align: right;
    font-size: 0.9rem;
  }
}