@use "../../pages/auth/auth.component.scss";

.loading-state, .error-state {
  text-align: center;
  padding: 2rem 0;

  i {
    margin-bottom: 1rem;
  }

  h2 {
    margin-bottom: 0.5rem;
  }

  p {
    color: var(--font-color-secondary);
    margin-bottom: 2rem;
  }
}
