:host {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}

.container-parametres {
    display: flex;
    flex-direction: column;
    gap: 10px;

    ::ng-deep .p-button {
      width: 100%;
    }
  }

  .container-label {
    display: flex;
    flex-direction: column;
  }
.chips-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

::ng-deep {
  .p-autocomplete-input-multiple{
    padding: 2px;
    padding-left: var(--padding);
    padding-bottom: 5px;
  }
}