<div class="container-parametres">
  <div class="container-label">
    <label for="versions">Version du module</label>
    <p-select
      [filter]="true"
      fluid
      [options]="versions()"
      [disabled]="isReadOnly()"
      optionLabel="version"
      [(ngModel)]="currentVersion"
    >
      <ng-template #footer>
        <p-button
          (onClick)="createNewVersion()"
          label="Nouvelle version"
          [fluid]="true"
          severity="secondary"
          text
          size="small"
          icon="pi pi-plus"
        />
      </ng-template>
    </p-select>
  </div>
  <div class="container-label">
    <label for="moduleName">{{ "Titre" | translate }}</label>
    <input
      class="input"
      id="moduleName"
      type="text"
      pInputText
      [(ngModel)]="currentModule().title"
      [disabled]="isReadOnly()"
      autocomplete="false"
    />
  </div>
  <div class="container-label">
    <label for="moduleDescription">{{ "Description" | translate }}</label>
    <textarea
      class="input"
      id="moduleDescription"
      type="text"
      pTextarea
      [(ngModel)]="currentModule().description"
      [disabled]="isReadOnly()"
      autocomplete="false"
    ></textarea>
  </div>
  <div class="container-label">
    <label for="gameSystem">{{ "Jeux" | translate }}</label>
    <p-select
      [options]="gameSystems()"
      [loading]="gameLoading"
      [disabled]="isReadOnly()"
      [(ngModel)]="currentGameSystem"
      optionLabel="name"
      placeholder="Selectionner un jeux"
      inputId="gameSystem"
    ></p-select>
  </div>
  <div class="container-label">
    <label for="stockage">{{ "Stocker dans" | translate }}</label>
    <p-treeselect
      [options]="treeNode()"
      [disabled]="needToCreate()"
      metaKeySelection="true"
      [loading]="folderLoading"
      [(ngModel)]="selectedFolder"
      (ngModelChange)="saveFolder()"
      [fluid]="true"
    />
  </div>
  <div class="container-label">
    <label for="tags">Tags</label>
    <p-autocomplete
      #autocomplete
      [(ngModel)]="tagsSearch"
      [disabled]="isReadOnly()"
      (completeMethod)="autoCompleteRes($event.query)"
      [suggestions]="suggestionsTags()"
      (onSelect)="onSelect($event.value.name)"
      (onUnselect)="onUnSelect($event.value.id)"
      [dropdown]="true"
      [dropdownMode]="'current'"
      [forceSelection]="false"
      (onDropdownClick)="showInitialTags()"
      (keydown.enter)="onEnterKeyForTags($event)"
      placeholder="Rechercher ou créer un tag"
      [multiple]="true"
      optionLabel="name"
    >
      <ng-template pTemplate="selectedItem" style="width: 0%"> </ng-template>
    </p-autocomplete>
    <div class="chips-container">
      @for (tag of tagsSearch(); track tag.id) {
      <p-chip
        [label]="tag.name"
        [removable]="true"
        [removable]="!isReadOnly()"
        (onRemove)="onUnSelect(tag.id)"
        class="m-1"
      ></p-chip>
      }
    </div>
  </div>
  <p-button
    [label]="needToCreate() ? 'Créer' : 'Sauvegarder'"
    [loading]="loadingSave()"
    [disabled]="isReadOnly()"
    icon="pi pi-save"
    (onClick)="save()"
    severity="success"
  />
  <p-button
    [disabled]="needToCreate() || !canPublish()"
    (onClick)="published()"
    [loading]="loadingPublished()"
    [icon]="currentVersion().published ? 'pi pi-eye-slash' : 'pi pi-globe'"
    [label]="currentVersion().published ? 'Rendre Privée' : 'Publier'"
    severity="help"
  />
  @if(!currentVersion().published){
  <div class="container-label">
    <app-user-avatar-choose [disabled]="!canInvite()" />
  </div>
  }
  <!-- <p-button
    label="Générer avec l'IA"
    icon="pi pi-sparkles"
    styleClass="p-button-help p-button-raised"
    (onClick)="generateCompleteModule()"
    [disabled]="true"
    pTooltip="Bientot disponible !"
    tooltipPosition="top"
  ></p-button> -->
</div>
<p-button
  [fluid]="true"
  [disabled]="needToCreate() || isReadOnly()"
  [label]="'Supprimer'"
  icon="pi pi-trash"
  (onClick)="deleteRequested.emit()"
  severity="danger"
/>
