@use "../core";

a.x {
   &.nav-link {
      font-weight: 500;
      text-decoration: none;
      color: core.$font-color;

      height: calc(core.$inputs-size * 1.5);
      padding: 0 calc(core.$inputs-size / 4);
      gap: calc(core.$gap / 2);
      background-color: transparent;

      display: flex;
      align-items: center;
      @include core.transition(background-color, core.$transition-duration);

      &:active {
         color: core.$primary-color;
         @include core.transition(color, core.$transition-duration);
      }

      &.active {
         color: core.$primary-color;
         background-color: mix(transparent, core.$primary-color, 85%);
         @include core.transition(background-color, core.$transition-duration);
      }
   }
}
