@let $currentModule = currentModule(); @if($currentModule){
<p-button
  [disabled]="$currentModule.id === 0 || disabled()"
  (click)="op.toggle($event)"
  icon="pi pi-share-alt"
  label="Partager"
/>
<p-avatar-group>
  @for(user of fourUsers(); track user){
  <p-avatar
    [label]="getUserInitials(user)"
    size="normal"
    shape="circle"
    [pTooltip]="user.email"
  />
  } @if(moreThanFourUser()){
  <p-avatar
    [label]="'+' + (selectedUsers.length - 4).toString()"
    size="normal"
    shape="circle"
  />
  }
</p-avatar-group>

<p-popover #op class="rounded">
  @if($currentModule.id !== 0){
  <div class="container-label">
    <p-autoComplete
      fluid
      [(ngModel)]="filterText"
      [suggestions]="searchResults()"
      (completeMethod)="searchUsers($event)"
      field="email"
      [dropdown]="true"
      [delay]="300"
      [minLength]="1"
      placeholder="Rechercher et ajouter des utilisateurs"
      [showEmptyMessage]="true"
      emptyMessage="Aucun utilisateur trouvé"
      (onSelect)="onUserSelect($event.value)"
      styleClass="w-full"
      [showClear]="true"
      [style]="{ marginBottom: '25px' }"
    >
      <ng-template let-user pTemplate="item">
        <div class="container-item-auto">
          <p-avatar [label]="getUserInitials(user)" shape="circle" />
          <div>
            <div>{{ user.username || user.email.split("@")[0] }}</div>
            <div class="text-sm text-gray-600">{{ user.email }}</div>
          </div>
        </div>
      </ng-template>
    </p-autoComplete>
  </div>

  <!-- Liste des utilisateurs sélectionnés avec bouton de suppression -->
  <div class="usersAccess rounded">
    @for(user of selectedUsers(); track user){
    <div class="user-row">
      <div class="container-row">
        <p-avatar
          [label]="getUserInitials(user)"
          size="normal"
          shape="circle"
        />
        <div class="container-span">
          <span>{{ user.username || user.email.split("@")[0] }}</span>
          <span>{{ user.email }}</span>
        </div>
      </div>

      <div class="container-action">
        @let $moduleAcess = getModuleAccessByUser(user); @if($moduleAcess){
        <p-multiselect
          [options]="optionsAccessRight"
          [ngModel]="getAccessRightsForUser($moduleAcess)"
          (ngModelChange)="createOrUpdateAccessRightArray(user, $event)"
          optionValue="value"
          optionLabel="label"
          [showClear]="false"
          [showToggleAll]="false"
          [showHeader]="false"
          [disabled]="user.id === currentModule()?.creator?.id"
        />
        }
        @if(user.id !== currentModule()?.creator?.id){
          <p-button
            icon="pi pi-times"
            styleClass="p-button-danger p-button-text"
            (onClick)="removeUser(user)"
            pTooltip="Supprimer"
          ></p-button>
        }
      </div>
    </div>
    }

    <!-- Message si aucun utilisateur sélectionné -->
    @if(selectedUsers().length === 0){
    <div class="text-center p-3 text-gray-500">
      Aucun utilisateur sélectionné
    </div>
    }
  </div>
  }
</p-popover>
}
