@use "./assets/sass/themes/dark.scss";
//@use './assets/sass/themes/light.scss';
@use "./assets/sass/common.scss";
@import "primeicons/primeicons.css";

:root {
  --p-button-secondary-background: var(--background-color);
  --p-button-primary-hover-color: var(--text-color);

  //   --p-button-padding-y: 10px;

  // p-tree
  --p-tree-background: var(--background-color);
  --p-surface-900: var(--background-color);
  --p-tree-node-toggle-button-color: white;
  --p-tree-node-toggle-button-hover-background: var(--background-color);
  --p-tree-node-toggle-button-selected-hover-background: var(--secondary-color);
  --p-tree-node-selected-background: var(--primary-color);
  --p-tree-node-selected-color: var(--background-color);
  --p-tree-node-icon-selected-color: var(--background-color);
  --p-tree-node-hover-background: var(--secondary-color);
  --p-tree-node-toggle-button-selected-hover-color: white;

  //contextmenu
  --p-contextmenu-item-focus-background: var(--secondary-color);

  //toolbar
  --p-toolbar-border-color: white;

  //danger button
  --p-button-danger-color: white;

  // textearea
  --p-textarea-background: var(--background-color);
  --p-textarea-focus-border-color: var(--primary-color);
}
h1 {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
}
p {
  margin-block-start: 0;
  margin-block-end: 0;
}

* {
  /* Firefox */
  scrollbar-width: thin;
  scrollbar-color: var(--primary-color) transparent;

  /* IE/Edge legacy */
  -ms-overflow-style: none;
}

/* Pour webkit (Chrome, Safari, nouveau Edge) */
::-webkit-scrollbar {
  width: 8px;
  height: 8px; /* Pour les scrollbars horizontales */
}

::-webkit-scrollbar-track {
  background: transparent !important;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color) !important;
  border-radius: 4px;
}

::-webkit-scrollbar-corner {
  background: transparent !important;
}

/* Effet hover optionnel */
::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary-color) !important;
}
