// styles/themes/_common.scss
@use "./variables" as var;

:root {
  --font-family-logo: #{var.$font-family-logo};


  display: block;
  font-family: #{var.$font-family-text};
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

h1,
h2,
h3,
h4 {
  font-family: #{var.$font-family-title};
}
